.red {
        color: red;
      }
#reset {
	width: 220px;
	text-align: center;
	font-weight: bold;
}
#increment {
	font-weight: bold;
}
#decrement {
	font-weight: bold;

}
#count-box {
	text-align: center;
	width: 165px;
	height: 5;
}
.even {
	font-style: italic;
	
}