 div {
	width: 49%;
	display: inline-block;
	text-align: left;
}
h4 {
	font-weight: bold;
	color: red;
}
.boldtext {
	font-weight:bold;
}
.textcolor {
	color:red;
}
.textstyle {
	font-style: italic;
}
img {
	width:100px;
	height:100px;
}